variables:
  PROJECT_NAME: "BeanCannon"
before_script:
  - echo "starting build for Bean Cannon"
  - mkdir -p .nuget
  - echo "Downloading NuGet..."
  - wget -O .nuget/nuget.exe https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
  - echo "Restoring NuGet Packages..."
  - .nuget/nuget.exe restore "src/BeanCannon.sln"
stages:
  - build
  - test
build:
  stage: build
  script:
  - echo "Release build..."
  - '"C:/Windows/Microsoft.NET/Framework64/v4.0.30319/msbuild.exe" /consoleloggerparameters:ErrorsOnly /maxcpucount /nologo /property:Configuration=Release /verbosity:quiet "src/BeanCannon.sln"'
  artifacts:
    untracked: true
