variables:
  PROJECT_NAME: "BeanCannon"
before_script:
  - echo "starting build for %PROJECT_NAME%"
  - echo "Restoring NuGet Packages..."
  - d:/tools/nuget restore "src/%PROJECT_NAME%.sln"
stages:
  - build
  - test
build:
  stage: build
  script:
  - echo "Release build..."
  - '"C:/Windows/Microsoft.NET/Framework64/v4.0.30319/msbuild.exe" /consoleloggerparameters:ErrorsOnly /maxcpucount /nologo /property:Configuration=Release /verbosity:quiet "src/%PROJECT_NAME%.sln"'
  artifacts:
    untracked: true
