<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="AsynchronousLog4NetAppender" />
	</root>

	<logger name="DevelopmentLogger">
		<level value="ALL"/>
	</logger>

	<appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="TraceLogs/LoicTraceLog.log"/>
		<!--<file type="log4net.Util.PatternString" value="TraceLogs/LoicTraceLog.%property{ThreadName}.log" />-->
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<immediateFlush value="true"/>
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="5MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<!--<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>-->
			<param name="ConversionPattern" value="%-6p%d [%-35t] %-25c %m%n"/>
			<!--<param name="ConversionPattern" value="%-5p%d{ yyyy-MM-dd HH:mm:ss} – [%thread] %m method:%method %n stacktrace:%stacktrace{5} %n type:%type %n line: %line %n" />-->
		</layout>
		<encoding value="utf-8" />
	</appender>

	<appender name="AsynchronousLog4NetAppender" type="Log4Net.Async.ParallelForwardingAppender,Log4Net.Async">
		<appender-ref ref="rollingFile" />
	</appender>
</log4net>